ul.closure-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.closure-list > li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: block;
}

ul.closure-list > li > .closure-header {
    font-size: x-large;
    font-weight: 600;
    border-bottom: 2px solid #111;
    display: inline;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

ul.closure-list > li > .closure-title {
    font-weight: 600;
}

ul.closure-list > li > .closure-date {
    font-size: small;
    float: right;
    font-weight: normal;
    text-align: right;
}

ul.closure-list > li > .closure-description {
    padding-left: 2em;
    font-size: medium;
    color: #555555;
}

.closure-active {
    color: #ce4969;
}

.closure-inactive {
    color: #93b43b;
}

ul.closure-feed {
    padding-left: 1em;
    margin: 0;
}

ul.closure-feed > li {
    padding-top: 0.4em;
}
